/* 
  White and orange theme
*/
$background: #FFF;
$text: #333;
$title: #EC632F;
$link: #EC632F;
$button: #07D;
$error: #C33;
$font-family: Helvetica;
$font-size: 0.8em;

/* 
  Dark blue theme
*/
$background: #1E3F80;
$text: #FFE;
$title: #FAFAFA;
$link: #49F;
$button: #27D;
$error: #F77;
$font-family: Verdana, Arial;
$font-size: 0.75em;

/*
  Textmate twilight theme
*/
$background: #1A1A1A;
$text: #FAF0A8;
$title: #9BC;
$link: #7C936D;
$button: #A14A8C;
$error: #D75;
$font-family: Monaco;
$font-size: 0.7em;


/* 
  Metallic silver theme
*/
$background: #EEE;
$background-image: url("/assets/chunks/background_texture.jpg");
$text: #000;
$title: #555;
$link: #618;
$button: #618;
$error: #C33;
$font-family: Courier New, Courier;
$font-size: 0.8em;