/* 
  Dark blue theme
*/
$background: #1E3F80;
$text: #FFE;
$title: #FAFAFA;
$link: #49F;
$subtle: #EEE;
$button: #27D;
$error: #E83;
$font-family: Verdana, Arial;
$font-size: .75em;

/*
  Textmate twilight theme
*/
$background: #1A1A1A;
$text: #FAF0A8;
$title: #9BC;
$link: #B63;
$subtle: #A0AC7D;
$button: #A14A8C;
$error: #DA7F5E;
$font-family: Monaco, "Courier New", "Courier";
$font-size: .7em;

/*
  Google Apps 2011 theme
*/
$background: #FFF;
$text: #222;
$title: #DD4B39;
$link: #666;
$subtle: #999;
$button: #3079ED;
$error: #DD4B39;
$font-family: Arial;
$font-size: .8em;

/* 
  Metallic silver theme
*/
$background: #E9E9E9;
$background-image: url("/assets/chunks/background_texture.jpg");
$text: #000;
$title: #555;
$link: #618;
$subtle: #777;
$button: #618;
$error: #C33;
$font-family: Courier New, Courier;
$font-size: .8em;