body {
  color: maroon;
  font-family: Arial;
  font-size: 0.8em;
  background: cyan;
}

#homepage {
  #logo_container {
    width: 800px;
    margin: 200px auto;
    a {
      text-decoration: none;
    }
  }
}